<%=current_user.username if current_user %>
<button onclick="window.location.href = '/logout'">log out</button>

<form method="post" action ="/speak">
	<label for="title">Title:</label>
	<input type="text" name="[think][title]" value="" placeholder="">
	<label for="think">Thought:</label>
	<input type="text" name="[think][post]" maxlength="150">
	<input type="submit">
</form>




<ul>
<%  @posts.each do |i| 
  	b = i[:post] 
  	t = i[:current] %>
	<li><a href = "<% %>"><%=b%><%=t%></a></li>
<% end %>
</ul>


<ul>
<%  @all_users.each do |i| 
  	f = i[:username] 
  	d = i[:id] %>
	<li><a href = "/profile/<%=d%>"><%=f %><%=d%></a></li>

<% end %>
</ul>

